<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PhotoMapper">
    <!-- ResultMap -->
    <resultMap id="BaseResultMap" type="com.example.model.Photo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="exposureTime" jdbcType="VARCHAR" property="exposuretime" />
        <result column="iso" jdbcType="VARCHAR" property="iso" />
        <result column="fNumber" jdbcType="VARCHAR" property="fnumber" />
        <result column="focalLength" jdbcType="VARCHAR" property="focallength" />
        <result column="model" jdbcType="VARCHAR" property="model" />
        <result column="originDate" jdbcType="VARCHAR" property="origindate" />
        <result column="file" jdbcType="VARCHAR" property="file" />
    </resultMap>

    <!-- 基础列 -->
    <sql id="Base_Column_List">
        id, exposureTime, iso, fNumber, focalLength, model, originDate, file
    </sql>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM photo
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.example.model.Photo">
        INSERT INTO photo (
            , exposureTime, iso, fNumber, focalLength, model, originDate, file
        )
        VALUES (
            , #{exposuretime,jdbcType=VARCHAR}, #{iso,jdbcType=VARCHAR}, #{fnumber,jdbcType=VARCHAR}, #{focallength,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{origindate,jdbcType=VARCHAR}, #{file,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 选择性插入 -->
    <insert id="insertSelective" parameterType="com.example.model.Photo">
        INSERT INTO photo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="exposuretime != null">
                exposureTime,
            </if>
            <if test="iso != null">
                iso,
            </if>
            <if test="fnumber != null">
                fNumber,
            </if>
            <if test="focallength != null">
                focalLength,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="origindate != null">
                originDate,
            </if>
            <if test="file != null">
                file,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="exposuretime != null">
                #{exposuretime,jdbcType=VARCHAR},
            </if>
            <if test="iso != null">
                #{iso,jdbcType=VARCHAR},
            </if>
            <if test="fnumber != null">
                #{fnumber,jdbcType=VARCHAR},
            </if>
            <if test="focallength != null">
                #{focallength,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="origindate != null">
                #{origindate,jdbcType=VARCHAR},
            </if>
            <if test="file != null">
                #{file,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 根据主键更新 -->
    <update id="updateByPrimaryKey" parameterType="com.example.model.Photo">
        UPDATE photo
        SET ,
            exposureTime = #{exposuretime,jdbcType=VARCHAR},
            iso = #{iso,jdbcType=VARCHAR},
            fNumber = #{fnumber,jdbcType=VARCHAR},
            focalLength = #{focallength,jdbcType=VARCHAR},
            model = #{model,jdbcType=VARCHAR},
            originDate = #{origindate,jdbcType=VARCHAR},
            file = #{file,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 选择性更新 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.example.model.Photo">
        UPDATE photo
        <set>
            <if test="exposuretime != null">
                exposureTime = #{exposuretime,jdbcType=VARCHAR},
            </if>
            <if test="iso != null">
                iso = #{iso,jdbcType=VARCHAR},
            </if>
            <if test="fnumber != null">
                fNumber = #{fnumber,jdbcType=VARCHAR},
            </if>
            <if test="focallength != null">
                focalLength = #{focallength,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="origindate != null">
                originDate = #{origindate,jdbcType=VARCHAR},
            </if>
            <if test="file != null">
                file = #{file,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据主键删除 -->
    <delete id="deleteByPrimaryKey" parameterType="Integer">
        DELETE FROM photo
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>
